{% extends "base.html" %}
{% block content %}
<pre style="width:500px; margin:0 auto;">
                            ;\ 
                            |' \ 
         _                  ; : ; 
        / `-.              /: : | 
       |  ,-.`-.          ,': : | 
       \  :  `. `.       ,'-. : | 
        \ ;    ;  `-.__,'    `-.| 
         \ ;   ;  :::  ,::'`:.  `. 
          \ `-. :  `    :.    `.  \ 
           \   \    ,   ;   ,:    (\ 
            \   :., :.    ,'o)): ` `-. 
           ,/,' ;' ,::"'`.`---'   `.  `-._ 
         ,/  :  ; '"      `;'          ,--`. 
        ;/   :; ;             ,:'     (   ,:) 
          ,.,:.    ; ,:.,  ,-._ `.     \""'/ 
          '::'     `:'`  ,'(  \`._____.-'"' 
             ;,   ;  `.  `. `._`-.  \\   ~~~~   ~~~ Couldn't catch that bitch
             ;:.  ;:       `-._`-.\  \`.   ~~~~        try again later.
              '`:. :        |' `. `\  ) \ 
      -flaskf!-  ` ;:       |    `--\__,' 
                   '`      ,' 
                        ,-' 
</pre>
{% endblock %}
